body {
	background-color: #ffffff;
}

#title {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Arial, sans-serif;
	background-color:#222;
	color:#fff;
	padding: 3px;
	font-size:11px;
}